{% if (alternates is defined and alternates) or (copy is defined and copy) %}
	<footer id="rapsysuser_footer">
		{% if copy is defined and copy %}
			<span>{{ copy.long }} - {{ copy.short }}</span>
		{% endif %}
		{% if alternates is defined and alternates %}
			{% set langs = alternates|keys|filter(v => v|length == 5) %}
			{% if langs|length > 1 %}
				<ul>
					{% for lang in langs %}
						<li><a href="{{ alternates[lang].relative }}" hreflang="{{ lang|replace({'_': '-'}) }}" title="{{ alternates[lang].title }}">{{ alternates[lang].translated }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				{% set lang = langs|first %}
				<a href="{{ alternates[lang].relative }}" hreflang="{{ lang|replace({'_': '-'}) }}" title="{{ alternates[lang].title }}">{{ alternates[lang].translated }}</a>
			{% endif %}
		{% endif %}
	</footer>
{% endif %}
