{% extends '@RapsysUser/base.html.twig' %}
{% block content %}
	<section id="rapsysuser_register">
		<header>
			<h2><a href="{{ self_url }}">{{ title }}</a></h2>
		</header>
		{% if disabled is defined and disabled %}
			<p class="message error">{% trans from "rapsysuser" %}Your account has been disabled{% endtrans %}</p>
		{% elseif sent is defined and sent %}
			<p class="message notice">{% trans from "rapsysuser" %}Your verification mail has been sent, to activate your account you must follow the confirmation link inside{% endtrans %}</p>
			<p class="message warning">{% trans from "rapsysuser" %}If you did not receive a verification mail, check your Spam or Junk mail folders{% endtrans %}</p>
		{% else %}
			{{ form_start(register) }}
				{% if register.mail is defined %}
					{{ form_row(register.mail) }}
				{% endif %}

				{% if register.password is defined %}
					{{ form_row(register.password) }}
				{% endif %}

				{% if register.civility is defined %}
					{{ form_row(register.civility) }}
				{% endif %}

				{% if register.forename is defined %}
					{{ form_row(register.forename) }}
				{% endif %}

				{% if register.surname is defined %}
					{{ form_row(register.surname) }}
				{% endif %}

				{% if register.phone is defined %}
					{{ form_row(register.phone) }}
				{% endif %}

				{% if register.captcha is defined %}
					{{ form_row(register.captcha) }}
				{% endif %}

				{{ form_row(register.submit) }}

				{# Render CSRF token etc .#}
				<footer style="display:none">{{ form_rest(register) }}</footer>
			{{ form_end(register) }}
		{% endif %}
	</section>
{% endblock %}
