{% extends '@RapsysUser/_base.html.twig' %}
{% block head %}
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% if locale is defined and locale %}<meta http-equiv="Content-Language" content="{{ locale }}" />{% endif %}
{% endblock %}
{% block stylesheet %}
	<style type="text/css">
		body {background:white;color:#066}
		a {text-decoration:none;color:#066}
		a:hover {text-decoration:underline}
		a.link {word-break:break-all;font-size:1.5rem}
		h1 {margin: .5rem;font-size: 2rem}
		table {width: 100%;border-radius: .5rem}
		table.header {border:.1rem solid #00c3f9;text-align:center}
		table.content {background:white;border:.1rem solid #00c3f9;margin:.5rem 0}
		table.footer {border:.1rem solid #00c3f9;text-align:center;font-weight:bold}
		table.footer summary:after {display:none}
		table.footer summary::-webkit-details-marker {display:none}
	</style>
{% endblock %}
{% block body %}
	<table class="header">
		<tr>
			{% if logo is defined and logo %}<td><a href="{{ home_url|escape('html_attr') }}"><img src="{{ email.image(logo.png) }}" alt="{{ logo.alt|escape('html_attr') }}" /></a></td>{% endif %}
			<td><h1><a href="{{ home_url|escape('html_attr') }}">{{ site }}</a></h1></td>
		</tr>
	</table>
	{% block content %}{% endblock %}
	{% if copy is defined and copy %}
		<table class="footer">
			<tr>
				<td>{{ copy.long }} - {{ copy.short }}</td>
			</tr>
		</table>
	{% endif %}
{% endblock %}
