{% trans_default_domain 'rapsysuser' %}
{% extends '@RapsysUser/mail/_base.html.twig' %}
{% block content %}
	<table class="content">
		<tr>
			<td>&nbsp;</td>
			<td>
				<h2>{{ subject }}</h2>
				<h3>{% if recipient_name %}{{ 'Hi %recipient_name%,'|trans({'%recipient_name%': recipient_name}) }}{% else %}{% trans %}Hi,{% endtrans %}{% endif %}</h3>
				<p>{{ 'Thanks so much for rejoining %site%:'|trans({'%site%': site}) }}</p>
				<p><a href="{{ home_url|escape('html_attr') }}" class="link">{{ home_url }}</a></p>
				<p>{% trans %}To recover your account follow this link:{% endtrans %}</p>
				<p><a href="{{ recover_url|escape('html_attr') }}" class="link">{{ recover_url }}</a></p>
			</td>
			<td>&nbsp;</td>
		</tr>
	</table>
{% endblock %}
